* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Navbar / falta por poner un par de cosas todavia, estilo de boton y demás. */
.navbar {
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}
.logo a{
    color: white;
    text-decoration: none;
}
.navbar nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar nav a.active {
    text-decoration: underline;
}

/* HERO */
.hero {
    height: 100vh;
    background-image: url("principal_hotel.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.hero-content {
    position: relative;
    max-width: 700px;
    padding: 180px 60px;
    color: white;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #e0e0e0;
}

/* SEARCH BOX / De aquí se accede a la página donde se ven los hoteles y tal */
.search-box {
    background-color: #e6e6e6;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box span {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.search-box button {
    background-color: #ffe100;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.reservas {
    position: relative;
    margin-top: -120px;
    z-index: 5;
}

.buscador {
    display: flex;
    justify-content: center;
}

.buscador-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 6px;
    display: flex;
    gap: 20px;
    align-items: flex-end;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

.campo input,
.campo select {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 150px;
    font-size: 14px;
}

.btn-buscar {
    background-color: #ffe100;
    border: none;
    padding: 12px 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.btn-buscar:hover {
    background-color: #ffd000;
}

/*DESTINOS POPULARES */

.destinos {
    background-color: #f5f5f5;
    padding: 80px 60px;
    text-align: center;
}

.destinos h2 {
    font-size: 26px;
    margin-bottom: 40px;
    color: #111;
}

.destinos-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.destino {
    background: white;
    border-radius: 6px;
    overflow: hidden;
    width: 240px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: transform 0.3s;
}

.destino:hover {
    transform: translateY(-6px);
}

.destino img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.destino span {
    display: block;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/* FOOTER / Esta parte está toda lista*/
.footer {
    background-color: #1f1f2b;
    color: white;
    padding: 50px 60px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-col h2,
.footer-col h3 {
    margin-bottom: 15px;
}

.footer-col p {
    margin-bottom: 8px;
    color: #cccccc;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 14px;
    color: #aaaaaa;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .form-container {
        margin: 140px 30px;
    }
}