* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Navbar / falta por poner un par de cosas todavia, estilo de boton y demás. */
.navbar {
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.navbar nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar nav a.active {
    text-decoration: underline;
}

/* HERO / Javier pasame la imagen que utilizas en el mockup del index cuando puedas. */
.hero {
    height: 100vh;
    background-image: url("principal_hotel.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.hero-content {
    position: relative;
    max-width: 700px;
    padding: 180px 60px;
    color: white;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #e0e0e0;
}

/* SEARCH BOX / De aquí se accede a la página donde se ven los hoteles y tal */
.search-box {
    background-color: #e6e6e6;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box span {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.search-box button {
    background-color: #ffe100;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* FOOTER / Esta parte está toda lista*/
.footer {
    background-color: #1f1f2b;
    color: white;
    padding: 50px 60px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-col h2,
.footer-col h3 {
    margin-bottom: 15px;
}

.footer-col p {
    margin-bottom: 8px;
    color: #cccccc;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 15px;
    font-size: 14px;
    color: #aaaaaa;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .form-container {
        margin: 140px 30px;
    }
}