* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 10;
}

.navbar nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
}

.navbar nav a.active {
    text-decoration: underline;
}


.hero {
    height: 100vh;
    background-image: url("Hotel\ Image\ 16\ ene\ 2026\,\ 12_28_12.png");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}
.logo {
    font-size: 28px;
    font-weight: bold;
}
.logo a{
    color: white;
    text-decoration: none;
}

.perfil-card {
    position: relative;
    background: white;
    width: 420px;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}


.perfil-header {
    text-align: center;
    margin-bottom: 25px;
}

.perfil-header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.perfil-header h2 {
    margin-bottom: 5px;
}

.perfil-header p {
    color: #666;
    font-size: 14px;
}

/* INFO */

.perfil-info h3,
.perfil-reservas h3 {
    margin-bottom: 10px;
}

.perfil-info p {
    margin-bottom: 8px;
    font-size: 14px;
}

/* BOTONES */

.btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #ffe100;
    font-weight: bold;
    cursor: pointer;
}

.btn-secundario {
    background: #ddd;
    margin-top: 8px;
}

/* RESERVAS */

.perfil-reservas {
    margin-top: 25px;
}

.reserva {
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 500px) {
    .perfil-card {
        width: 90%;
    }
}